.logTotalAmount {
    text-align: center;
    font-size: 1.1em;
    color: var(--contrast-primary);
    font-style: italic;
    margin-bottom: 10px;
    font-weight: bold;
}

.log-form-content .log-entries .log-entry-content {
    grid-column: 1/9;
}
