/* variables */
:root {
  --primary: #31363a;
  --contrast-primary: #fcc45e;
  --secondary: #dad9d4;
  --google: #de5246;
}

/* reset */
button.btn-primary {
  background-color: white;
  border-radius: 20px;
  width: 90%;
  color: var(--primary);
  font-weight: bold;
  font-size: 1.1em;
  border: 1px solid var(--primary);
}
button.btn-primary:hover,
button.btn-primary:focus {
  background-color: var(--contrast-primary);
  border: 1px solid var(--contrast-primary);
  color: white;
}

/* base styles */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--primary);
}

/* fonts */

/* mobile styles */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  box-sizing: border-box;
}
.btn-primary.btn-logout {
  width: 50px;
  background-color: var(--secondary);
}
.auth-name {
  font-size: 0.85em;
  color: var(--secondary);
}
#budgetee-logo {
  text-align: center;
  margin-top: 20px;
  width: 170px;
}
.login-content {
  margin-top: 75px;
  text-align: center;
}
.login-content .saving-img {
  grid-column: 1/9;
  justify-self: center;
  width: 300px;
  margin-bottom: 50px;
}
.login-content .btn-google-signin {
  color: var(--google);
  grid-row: 2;
  grid-column: 1/9;
  justify-self: center;
}
.login-content .google-logo {
  width: 25px;
  color: var(--google);
}
.login-content .developer {
  font-size: 0.8em;
  margin-top: 150px;
  margin-bottom: 20px;
  color: var(--secondary);
}

/* small table styles */
@media screen and (min-width: 620px) {
  .login-content {
    margin-top: 30px;
  }
  .login-content .saving-img {
    width: 350px;
  }
  .login-content .developer {
    margin-top: 60px;
  }
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px) {
  .grid {
    max-width: 1060px;
    margin: 0 auto;
    width: 100%;
  }
  .login-content .saving-img {
    width: 400px;
    grid-column: 1/5;
    grid-row: 1;
  }
  .login-content .btn-google-signin {
    grid-row: 1;
    grid-column: 5/9;
    align-self: center;
  }
  .login-content .developer {
    margin-top: 80px;
  }
}
