/* =======================================Variables */
:root {
    --primary: #31363a;
    --contrast-primary: #fcc45e;
    --secondary: #dad9d4;
    --primary-dark: #292b2e;
    --google: #de5246;
    --red: #de5246;
    --green: #78c257;
}

/* =======================================Base Styles */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary);
}

/* =======================================Overidden styles of Bootstrap*/
button.btn-primary {
    background-color: white;
    border-radius: 20px;
    width: 90%;
    color: var(--primary);
    font-weight: bold;
    font-size: 1.1em;
    border: 1px solid var(--primary);
}

button.btn-primary:hover,
button.btn-primary:focus {
    background-color: var(--contrast-primary);
    border: 1px solid var(--contrast-primary);
    color: white;
}
button.btn-primary:focus {
    outline: none;
    box-shadow: none;
}
.form-control,
.form-control:focus {
    border-radius: 20px;
    background-color: var(--primary);
    color: white;
}
